<%= form_for @question, html_options: { multipart: true } do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.messages.not_saved', count: @question.errors.count, resource: t('activerecord.models.question')) %>
            :
          </h2>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :body %><br/>
      <%= f.text_field :body %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </p>
    <%= f.hidden_field :image_cache %>
    <div>
      <%= f.file_field :image %>
    </div>

    <div>
      <%= f.label :remote_image_url, "or image URL" %><br />
      <%= f.text_field :remote_image_url %>
    </div>
    <% if @question.new_record? %>
        <%= f.submit t('questions.new.submit') %>
    <% else %>
        <%= f.submit t('questions.edit.submit') %>
    <% end %>
<% end %>


