<div class="questionIndex" id="<%= question.id %>">
  <%= distance_of_time_in_words_to_now(question.created_at) %>
  | <span class="answersCount">
  <%= question.answers.size %>
  </span>
  | <%= link_to question.user.name, question.user %>
  | <%= link_to question.body, question %>
</div>

