:css
  h1, h2, h3, h4, h5, h6
      {
          font-family: 'Open Sans', sans-serif;
          color: #464646;
          font-weight: 600;
          text-align: left;
      }

  body
      {
          background-color: #fafafa;
      }

  html, body, p
      {
          font-family: 'Open Sans', sans-serif;
          color: #464646;
          font-weight: 600;
          text-align: left;
      }

  a
  {
      color: #52cec5;
      font-weight: 600;
      text-decoration: none;
      font-size: 30px;
  }

  @media (max-width: 767px) {
  .tbl-width
         {
              width: 100%;
             table-layout: fixed;
          }

  .text-wrap
          {
              font-family: 'Open Sans', sans-serif;
              color: #464646;
              font-weight: 300;
              text-align: left;
              font-size: 2.2em;
          }

  .button-balance
      {
          padding: 20px;
          margin: 0 auto;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
          font-weight: 600;
          text-align: left;
          font-size: 2.2em;
          background-color: #57dca7;
          border: 0px;
          outline: none;
      }

  .button-balance:hover
      {
          background-color: #3cb183;
      }
  }

  @media (min-width: 768px) {
      .tbl-width
         {
             width: 100%;
             table-layout: fixed;
          }

      .text-wrap
          {
              font-family: 'Open Sans', sans-serif;
              color: #464646;
              font-weight: 300;
              text-align: left;
              font-size: 1.2em;
          }

      .button-balance
      {
          padding: 20px;
          margin: 0 auto;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
          font-weight: 600;
          text-align: left;
          font-size: 1.2em;
          background-color: #57dca7;
          border: 0px;
          outline: none;
      }

  .button-balance:hover
      {
          background-color: #3cb183;
      }
  }

  @media (min-width: 992px) {
      .tbl-width
         {
              width: 90%;
             table-layout: fixed;
          }

      .text-wrap
          {
              font-family: 'Open Sans', sans-serif;
              color: #464646;
              font-weight: 300;
              text-align: left;
              font-size: 1.2em;
          }

      .button-balance
      {
          padding: 10px;
          margin: 0 auto;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
          font-weight: 600;
          text-align: left;
          font-size: 1.2em;
          background-color: #57dca7;
          border: 0px;
          outline: none;
      }
  .button-balance:hover
      {
          background-color: #3cb183;
      }
  }

  @media (min-width: 1200px) {
  .tbl-width
     {
          width: 80%;
         table-layout: fixed;
      }

  .text-wrap
      {
          font-family: 'Open Sans', sans-serif;
          color: #464646;
          font-weight: 300;
          text-align: left;
          font-size: 1.2em;
      }

  .button-balance
      {
          padding: 10px;
          margin: 0 auto;
          font-family: 'Open Sans', sans-serif;
          color: #ffffff;
          font-weight: 600;
          text-align: left;
          font-size: 1.2em;
          background-color: #57dca7;
          border: 0px;
          outline: none;
      }
  .button-balance:hover
      {
          background-color: #3cb183;
      }
  }
