- mail_title 'План на неделю'
- content_for :mail_styles do
  = render 'welcome_mailer/styles'

%link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic'}
%body
  %table.tbl-width{:align => "center", :border => "0", :cellpadding => "5", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:align => "center", :bgcolor => "ffffff", :width => "100%"}
        %img{:height => "auto", :src => "https://10levels.ru/img/logo.png", :width => "100%"}
    %tr
      %td{:bgcolor => "ffffff", :width => "100%"}
        %span.text-wrap
          %h2 Привет!
          = "Это твой план правильного питания для похудения на #{@week.week_begin} - #{@week.week_end}."
          %br
          %br
          - @week.days.each do |day|
            %h3{:style => 'color: #52cec5; margin: 0; padding: 0;'}= "#{t('common.weekdays.' << day.number)}:".mb_chars.capitalize.to_s
            - if day.sinday?
              %b= '«День Греха»'
              , ешьте что хотите, без ограничений.
              %br
              Время действия
              %b= 'с 8.00 до 23.59'
              %br
            - else
              - day.product_groups.each do |group|
                •
                - group.day_products.each do |day_product|
                  - name = day_product.product.name
                  - qty = day_product.quantity.zero? ? 'Не ограниченно' : day_product.quantity.to_s(:rounded, precision: 1, strip_insignificant_zeros: true) + ' ' + day_product.product_measure.name
                  %b= "#{name}: "
                  = qty
                  - if group.day_products.size > 1 && group.day_products.index(day_product) != (group.day_products.size - 1)
                    = " / "
                %br
            %br

          %hr{:color => "dedede", :size => "1", :width => "100%"}
          %div{:style => "float:left; width: 45%;"}
            %a{:href => "https://10levels.ru"} https://10levels.ru
          %div{:style => "float:right; text-align:right; width: 45%;"}
            %a{:href => "#"} Отписать от рассылки
