.ui.eight.column.centered.grid
  .column
    = image_tag model.avatar.thumb.url
    %h3= name
  .eight.column.centered.row
    .column
      = how_many_questions
    .column
      = how_many_answers

.ui.top.attached.tabular.secondary.pointing.menu
  %a.active.item{'data-tab': 'questions'}
    = t('users.show.links.questions')
  %a.item{'data-tab': 'answers'}
    = t('users.show.links.answers')
  %a.item{'data-tab': 'subscriptions'}
    = t('users.show.links.subscriptions')
%br
.ui.active.tab{'data-tab': 'questions'}
  = cell(:question, collection: questions).(:profile_question)
.ui.tab{'data-tab': 'answers'}
  = cell(:answer, collection: answers).(:profile_answer)
.ui.tab{'data-tab': 'subscriptions'}
  =# cell(:answer, collection: subscriptions).(:profile_question)
