<div id="answer_<%= answer.id %>" class="answer">
  <%= distance_of_time_in_words_to_now(answer.created_at) %>
  <%= link_to answer.user.name, user_path(answer.user) %>
  <% admins_only do
    block_user_link(answer.user)
         end %>
  <%= answer.body %>
  <% if user_signed_in? %>

      <% if current_user==answer.user %>
          | <%= link_to t('answers.edit_link'), edit_answer_path(answer), {class: "editAnswerLink", id: "edit_#{answer.id}"} %>
          | <%= link_to t('answers.delete_link'), answer_path(answer), {method: :delete, data: {confirm: t('answers.confirm')}, class: "deleteAnswerLink", id: "delete_#{answer.id}"} %>

      <% else %>

          <% if @disliked_answers.include?(answer.id) %>
              | <span><%= t('spammed') %></span>
          <% else %>
              <% if answer.user!=current_user %>
                  | <%= link_to t('spam'), mark_as_spam_answer_path(answer) %>
              <% end %>
          <% end %>
      <% end %>
      <span class="answerLike">
      <% if @liked_answers.include?(answer.id) %>
          | <%= link_to t('answers.liked'), like_answer_path(answer) %>
      <% else %>
          | <%= link_to t('answers.like'), like_answer_path(answer) %>
      <% end %>

        <% if answer.lovers_count > 0 %>
          | <span class="likesCount"> <%= answer.lovers_count %> </span>
      <% end %>
          </span>
  <% end %>
</div>