<div class="badAnswer" id="badAnswer_<%= answer.id %>">
  <%= answer.spam_counter %>
  | <%= link_to answer.user.name, admin_user_path(answer.user) %>
  | <%= link_to answer.body, question_path(answer.question) %>
  | <%= "Заблокирован." if answer.blocked? %>
</div>

