<div class="badQuestion" id="badQuestion_<%= question.id %>">
  <%= question.claims_count %>
  | <%= link_to question.user.name, admin_user_path(question.user) %>
  | <%= link_to question.body, question_path(question) %>
</div>
