<%= form_tag admin_change_spam_level_path, :method => :get do %>
    <p>
      <%= text_field_tag :spam_level, @spam_level %>
      <%= submit_tag "Сохранить", id: "submit" %>
    </p>
<% end %>

<h4>Заблокированные пользователи:</h4>
<%= render partial: 'admin/base/user', collection: @blocked_users %>
<h4>Помеченные вопросы:</h4>
<%= render partial: 'admin/base/question', collection: @claimed_questions %>
<h4>Помеченные ответы:</h4>
<%= render partial: 'admin/base/answer', collection: @claimed_answers %>