.ui.grid
  .comment.fourteen.wide.column{:id => "question_#{id}"}
    %a.avatar
      = author_avatar
    .content
      %a.author= author_link
      - admins_only do
        .ui.dropdown
          %i.ellipsis.horizontal.icon
          .menu
            .item
              = block_author_link
      .text
        = body_link
    .metadata
      = meta_data

  .two.wide.column.middle.aligned.content.answersCount
    %h3= answers_count
    = #TODO pluralization "answers"
.ui.divider
