
<b><%= t('activerecord.attributes.user.name') %>:</b>
<%= @user.name %> <br/>

<div id="userStatus">
  <b><%= t('users.show.status') %></b>
  <%= @user.status %> <%block_user_link(@user)%>
</div>

<b>Email:</b> <%= @user.email %>
<br/>

<%= link_to t('users.show.links.edit'), edit_user_registration_path(@user.locale, @user.id) %>

<% if @user.claimed_questions.empty? %>
    <h4>Вопросов, помеченных, как спам, нет.</h4>
<% else %>
    <h4>Вопросы, помеченные, как спам:</h4>
    <div id="userQuestions">
      <%= render :partial => 'admin/users/question', collection: @user.claimed_questions %>
    </div>
    <%= link_to "Посмотреть все" %>
<% end %>

<% if @user.claimed_answers.empty? %>
    <h4>Ответов, помеченных, как спам, нет.</h4>
<% else %>

    <h4>Ответы, помеченные, как спам:</h4>
    <div id="userAnswers">
      <%= render :partial => 'users/answer', collection: @user.claimed_answers %>
    </div>
    <%= link_to "Посмотреть все" %>

<% end %>

<% if @active_questions.empty? %>
<h4>Активных вопросов пользователя нет.</h4>
<% else %>
<h4>Активные вопросы пользователя:</h4>

<div id="userQuestions">
  <%= render :partial => 'users/question', collection: @active_questions %>
</div>
    <%= link_to "Посмотреть все" %>
<% end %>

<% if @active_answers.empty? %>
    <h4>Активных ответов пользователя нет.</h4>
<% else %>
    <h4>Активные ответы пользователя:</h4>
    <div id="userAnswers">
      <%= render :partial => 'users/answer', collection: @active_answers %>
    </div>
    <%= link_to "Посмотреть все" %>
<% end %>