.comment{id:"answer_#{id}"}
  %a.avatar
    = author_avatar
  .content
    %a.author= author_link
    .metadata
      %span.date= created_ago
    .text
      = body
    .actions
      %a.reply Reply
      - if user_signed_in?
        - if current_user==user
          = edit_link
          = destroy_link
        - else
          = like_control
          .ui.dropdown
            %i.ellipsis.horizontal.icon
            .menu
              .item
                = spam_control