!!!
%html
  %head
    %title Finder
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :javascript_includes
    :javascript
      $(function () {
          var questions = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('body'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: { url: '/#{params[:locale]}/questions/autocomplete?query=%QUERY',
                  wildcard: '%QUERY'}
          });

          $('#search .typeahead').typeahead(null, {
              name: 'questions',
              display: 'body',
              source: questions,
              templates: {
                  empty: [
                      '<div class="empty-message">',
                      '#{t("search.empty")}',
                      '</div>'
                  ].join('\n'),
                  suggestion: Handlebars.compile('<div><a href=/questions/></a></div>')
              }

          });
      });
    :javascript
      $(function () {
          // create sidebar and attach to menu open
          $('.ui.sidebar').sidebar('attach events', '.toc.item');
          $('.ui.dropdown').dropdown();
      });
    = csrf_meta_tags
  %body
    .ui.vertical.inverted.sidebar.menu{id: "toc"}>
      %a.active.item Home
      %a.item Work
      %a.item Company
      %a.item Careers
      %a.item Login
      %a.item Signup
    / Page Contents
    .pusher
      .full-height
        .toc
          .ui.secondary.menu
            .ui.container
              %a.toc.item
                %i.sidebar.icon
              = link_to 'Finder', root_path, {class: 'item'}
              .ui.category.search.item
                = form_tag search_path, :method => :get, remote: true do
                  .ui.transparent.icon.input
                    = text_field_tag :query, params[:query], {class: 'typeahead', placeholder: t('base.index.search')}
                    %i.search.link.icon
                  .results
              .right.menu
                .item
                  = link_to t('add_question'), new_question_path(I18n.locale), {class: 'ui green basic button'}
                .item
                  = link_to url_for( :locale => 'ru' ) do
                    %i.ru.flag
                  = link_to url_for( :locale => 'en' ) do
                    %i.gb.flag
          %nav
            - if current_user
              - admins_only do
                = link_to "Admin", admin_root_path
              = t('users.logined') and link_to "[#{current_user.name}]", user_path(current_user)
              = link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete
            - else
              = link_to t('devise.shared.links.sign_in'), new_user_session_path
              = link_to t('devise.shared.links.sign_up'), new_user_registration_path
          - flash.each do |key, value|
            %div{:class => "ui #{key} message flash"}
              %i.close.icon
              %p= value
          .ui.main.text.container
            = yield
          .ui.divider
