!!!
%html
  %head
    %title Finder
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :javascript_includes
    :javascript
      $(function () {
          var questions = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('body'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: { url: '/#{params[:locale]}/questions/autocomplete?query=%QUERY',
                  wildcard: '%QUERY'}
          });

          $('#search .typeahead').typeahead(null, {
              name: 'questions',
              display: 'body',
              source: questions,
              templates: {
                  empty: [
                      '<div class="empty-message">',
                      '#{t("search.empty")}',
                      '</div>'
                  ].join('\n'),
                  suggestion: Handlebars.compile('<div><a href=/questions/></a></div>')
              }

          });
          $('.modalable').click(function(e){
            e.preventDefault();
            $('.small.modal').modal('show');
          });
          $('.ui.dropdown').dropdown();
          $('.sticky').sticky({ context: '#context' });
      });
    = csrf_meta_tags
  %body{ style: 'display: flex; min-height: 100vh; flex-direction: column;'}
    .full-height{style: 'flex: 1;'}
      .ui.sixteen.wide.column.doubling.relaxed.grid.container
        .row{style: 'padding-top: 20px;'}
          .three.wide.column
            .h1.ui.header.centered{style: 'font-size: 35px;'}
              = link_to 'Finder', root_path, {class: 'item'}
          .nine.wide.column
            = form_tag search_path, class: 'ui form', :method => :get, remote: true do
              .field
                = text_field_tag :query, params[:query], {class: 'typeahead', placeholder: t('base.index.search')}
          .one.wide.column
            = link_to url_for( :locale => 'ru' ) do
              %i.ru.flag
            = link_to url_for( :locale => 'en' ) do
              %i.gb.flag
          .three.wide.column
            = link_to t('add_question'), new_question_path(I18n.locale), {class: "ui green basic button #{@restrict}"}

        .row
          .three.wide.column
            .ui.vertical.menu
              - if user_signed_in?
                .item
                  = image_tag current_user.avatar.thumb.url, class: 'ui avatar image'
                  %span= link_to current_user.name, user_path(current_user)
                .menu
                  - admins_only do
                    = link_to "Admin panel", admin_root_path, class: 'item'
                  = link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete, class: 'item'
              - else
                = link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'item'
              - if user_signed_in?
                %a.active.item Моя лента
              = link_to 'Все вопросы', root_path, {class: 'item'}
              %a.item Пользователи
              - if user_signed_in?
                %a.item Уведомления
          .ten.wide.column
            .ui.main.text.container{style: "padding-left: 20px;", id: 'context'}
              - flash.each do |key, value|
                %div{:class => "ui #{key} message flash"}
                  %i.close.icon
                  %p= value
              = yield
          .three.wide.column
      .ui.small.modal
        %i.close.icon
        .content
          = render file: 'devise/sessions/new'
    .ui.black.inverted.vertical.footer.segment
      .ui.center.aligned.container
        .ui.stackable.inverted.grid
          .three.wide.column
            %h4.ui.inverted.header Community
            .ui.inverted.link.list
              %a.item{:href => "https://www.transifex.com/organization/semantic-org/", :target => "_blank"} Help Translate
              %a.item{:href => "https://github.com/Semantic-Org/Semantic-UI/issues", :target => "_blank"} Submit an Issue
              %a.item{:href => "https://gitter.im/Semantic-Org/Semantic-UI", :target => "_blank"} Join our Chat
              %a.item{:href => "/cla.html", :target => "_blank"} CLA